{% extends 'main/base.html' %}

{% block content %}
<h2>Bienvenido a SpiderVerse</h2>
<p>Explora el mundo de Spider-Man y sus enemigos.</p>

<section>
    <h2>HAZARAS DE SPIDER-MAN</h2>
    <p>Spider-Man es uno de los superhéroes más icónicos de Marvel Comics, creado por Stan Lee y Steve Ditko. Hizo su primera aparición en Amazing Fantasy #15 (1962). Su alter ego es Peter Parker, un joven neoyorquino que adquiere habilidades arácnidas tras ser mordido por una araña radiactiva.</p>

    <div class="spiderman-versions">
        <div class="version">
            <h3>Tobey Maguire</h3>
            <ul>
                <li>La Ciudad de Nueva York</li>
                <li>Entrenamiento con</li>
                <li>Telarañas orgánicas</li>
                <li>Lecciones del Tío Ben</li>
                <li>MJ y el amor complicado</li>
                <li>Lucha contra el Duende</li>
            </ul>
        </div>

        <div class="version">
            <h3>Andrew Garfield</h3>
            <ul>
                <li>Explorando Oscorp</li>
                <li>Las telarañas más fuertes</li>
                <li>Ciencia y tecnología</li>
                <li>Gwen Stacy, el primer amor</li>
                <li>Enfrentamiento con Electro</li>
            </ul>
        </div>

        <div class="version">
            <h3>Tom Holland</h3>
            <ul>
                <li>Amistoso vecino en Queens</li>
                <li>Tecnología Stark</li>
                <li>Misión con los Vengadores</li>
                <li>Adiós, Tía May</li>
                <li>Viaje al Multiverso</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}